{{> head}}

{{> navbar }}

<div class="row">

    <div class="col-8">

        <h1 class="titulo">¿Quién soy?</h1>

    </div>


     <div class="col-4">

         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ducimus obcaecati aspernatur dolorum possimus, sunt assumenda quibusdam repudiandae ullam doloribus. Ex exercitationem laboriosam officiis, quisquam ullam esse fugit explicabo sint.
        </p>

        <img src="assets/img/foto.jpg" class="img-thumbnail">

     </div>


</div>



{{> footer}}